*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	font: inherit;
}

html,
body{
	width: 100;
	margin: 0;
	padding: 0 ;
	background-color: #fff;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
}

.dcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*NAVIGATION Items in the header--------- start--------*/

.navbar-item img {
   width: 160px;
   max-height:90%;
}

.navbar-item #solar img{
   width: 200px;
}

/*NAVIGATION Items in the header--------- end--------*/




/************Hero Images**************/


.index header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,0.5), rgba(0, 0, 0,.2)), url(cssimg/3.jpg);
}

.wood-blinds header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.5), rgba(0, 0, 0,.3)), url(cssimg/2.jpg);
	
}

.roller-shades header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/3.jpg);	
}

.vertical_blinds header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/4.jpg);
}

.roman_shades header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/5.jpg);
}

.pleated_shades header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.2), rgba(0, 0, 0,.1)), url(cssimg/6.jpg);
}

.sliding-panels header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/7.jpg);
}

.mini_blinds header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/8.jpg);
	
}

.neolux header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/8.jpg);
	
}

.retractable_awnings header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/11.jpg);
}

.drop_arm_awnings header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/12.jpg);
}

.shade_sails header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/13.jpg);
}

.vertical_drop header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/14.jpg);
	background-position: right center;	
}


.umbrellas header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.8), rgba(0, 0, 0,.3)), url(cssimg/16.jpg);
	
}

.carports header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/17.jpg);
	
}

.custom header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.8), rgba(0, 0, 0,.3)), url(cssimg/18.jpg);
	
}

.roller_shutter header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/21.jpg);
	
}


.index header,
.wood-blinds header,
.roller-shades header,
.vertical_blinds header,
.roman_shades header,
.pleated_shades header,
.sliding-panels header,
.retractable_awnings header,
.drop_arm_awnings header,
.canopies header,
.shade_sails header,
.vertical_drop header,
.umbrellas header,
.custom header,
.roller_shutter header,
.carports header,
.neolux header
{
	height: 90vh;
	background-size: cover;
	background-position: right top;
    background-attachment: fixed;
}

.custom header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/19.jpg);
	background-position: center;
}

.canopies header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/15.jpg);
	background-position: right center;
}

.vertical_drop header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.3), rgba(0, 0, 0,.3)), url(cssimg/3.jpg);
	background-position: right center;
	
}


.product-heading{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.product-heading h1{
	font-weight: 300;
}

.product-heading h2{
	font-weight: 300;
}

/************HERO Images  END**************/


/************HERO TEXT  **************/
header .title.is-1 {
	font-weight: 300;
    font-size: 4rem;
}
header .subtitle.is-3 {
    font-size: 2rem;
}

/************HERO END  **************/

/*Sign Up Section and Map-----------------*/

iframe{
	width: 400px;
	height: 400px;
}

/*Sign Up Section and Map--------END---------*/

/*ANIMATIONS-----------------------------*/

/*SUBTILE HOVER*/
.anime {
    z-index: 2;
	width: 100%;
	height: auto;
	transform: scale(1);
	transition: transform .5s;
}

.anime:hover{
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
}
/*SUBTILE HOVER ------END*/

/*Blue Background Hover**********************/

div .product-box{
	max-height: 280px;  
    position:relative;
    overflow: hidden;
  }

.columns h3{
	width: 80%;
	opacity: 0;
	position: absolute;
	bottom: 8%;
	left: 10%;
	font-weight: 300;
	transition: 0.3s;
}

.product-box .single-product-text{  
	background-color:#538BDE;
	position: absolute;
	bottom:6%;
	left: 4%;
    opacity: 0; 
	width: 92%;
	height: 30%;
	transition: 0.4s;
}


.product-box:hover .single-product-text{
	background-color:#538BDE;
    position:absolute;
	opacity: 0.9;
  }

  .product-box:hover h3{
  	/*transform: translate(-38%, -40%);*/
  	 z-index: 2;
  	font-weight: 300;
	opacity: 1;
}   

.text-box-bottom{
	padding: .5rem;
	border-left: solid .5px #ccc;
	border-bottom: solid .5px #ccc;
}


/*ANIMATIONS-------------END----------------*/

/*Single Products Windows Modal's, Animations etc*/
.product-gallery, .left-nav,.product-image{
	border: solid;
	height: 800px;

}

.product-gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr)
}

.gallery-grid{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 5px;
    padding: 2rem;
}

.gallery-grid > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-header-text{
	background-color: rgba(181,13,13,.7);
	color: #fff;
	/*border-radius: 10px;*/
	padding: 6%;
}

.item-image{
	width: 750;
	height: 400px;
	overflow: hidden;
}

.item-image img{
	width: 100%;
	height: 100%;
}

.list-items{
	cursor: pointer;
}

.modal-img{
	max-width: 1100px;
	max-height: 700px;
}

.buying-process{
	font-size: 1rem;
}



.mobile-gallery .content{
	padding: 2rem;

	border-radius: 10px;
}

.mobile-gallery .content h2{
	font-weight: 300;
	font-size: 1.5rem;
}

.mobile-gallery .content p{
	/*font-weight: 300;*/
	font-size: 1rem;
}

@media screen and (min-width:768px) and (max-width:1471px){
   .product-box h3{
		bottom: 0%;
		left: 10%;

		
	}
}



/*@media only screen and (max-width: 1270px) {
	
	body{
		background-color: blue;
	}

	header .title.is-1 {
		font-weight: 300;
	    font-size: 6rem;
	}

	header .subtitle.is-3 {
    	font-size: 2rem;
	}

	iframe{
		width: 250px;
		height: 300px;
	}

}*/


@media only screen and (max-width: 500px) {
	
	body{
		/*background-color: blue;*/
	}

	.index header,
	.wood-blinds header,
	.roller-shades header,
	.vertical_blinds header,
	.roman_shades header,
	.sliding-panels header,
	.retractable_awnings header,
	.drop_arm_awnings header,
	.canopies header,
	.shade_sails header,
	.vertical_drop header,
	.umbrellas header,
	.custom header,
	.roller_shutter header
	{
		height: 65vh;
		background-size: cover;
		background-position: center;
	    background-attachment: fixed;
	}

	.pleated_shades header{
		transform: scale(.8);
		background-position: top center;
	}
	
	.carports header{
		transform: scale(.8);
		background-position: 80% center; 

	}

	header .title.is-1 {
		font-weight: 300;
	    font-size: 3rem;
	}

	header .subtitle.is-3 {
    	font-size: 2rem;
	}

	iframe{
		width: 290px;
		height: 200px;
	}

	.products-area-gallery{
		width: 100vw;
	}
	
	div .product-box{
    height: 80%;
    width: 80%;
  }




}




