/*Drk color #1B1D1F*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body{
	
	padding: 0 ;
	background-color: #fff;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
}

.center{
        display: flex;
        justify-content: center;
        align-items: center;
      }

.centergrid{
		display: grid;
		justify-content: center;
		/*max-width: 960px;*/
}

.index header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,0.5), rgba(0, 0, 0,.2)), url(cssimg/terrace-awning.jpg);
}

.wood-blinds header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.8), rgba(0, 0, 0,.3)), url(cssimg/12.jpg);
	
}

.roller-shades header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.8), rgba(0, 0, 0,.3)), url(cssimg/0.jpg);	
}

.vertical_blinds header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.8), rgba(0, 0, 0,.3)), url(cssimg/1.jpg);
}

.roman_shades header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.8), rgba(0, 0, 0,.3)), url(cssimg/18.jpg);
}

.pleated_shades header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.8), rgba(0, 0, 0,.3)), url(cssimg/10.jpg);
}

.sliding-panels header{
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.8), rgba(0, 0, 0,.3)), url(cssimg/2.jpg);
}


.index header,
.wood-blinds header,
.roller-shades header,
.vertical_blinds header,
.roman_shades header,
.pleated_shades header,
.sliding-panels header{
	height: 80vh;
	background-size: cover;
	background-position: right top;
    background-attachment: fixed;
}

/*NAVIGATION Items in the header--------- start--------*/

/*#sectionNav{
	position: fixed;
}*/


#sectionNav{
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 1.3rem;
	padding: 1.5rem;
}

.navbar-item img {
   width: 200px;
   height: 65.5px;
}

/*nav .navbar-item .text-box{
	margin-top: 20px;
}*/

/*nav .navbar-item .text-box .text-primary,
nav .navbar-item .text-box .text-sub{
	font-family: "Times Romans";
	text-transform: capitalize;
	font-weight: 100;
	display: block;
}*/

/*nav .navbar-item .text-box .text-primary{
	font-size: 3rem;
}*/

/*nav .navbar-item .text-box .text-sub{
	font-size: 25px;
	margin-left: 100px;
}*/
/*NAVIGATION Items in the header--------- end--------*/

/*HEADING TITLES in the header------------start-------*/

.hero{
	padding: 0 5%;
}

header .title.is-1 {
	font-weight: 300;
    font-size: 3rem;
}
header .subtitle.is-3 {
    font-size: 2rem;
}
section header .heading-box-text-primary{
	font-size: 10rem;
}

 .heading-box-text-sub{
	font-size: 5rem;
	font-weight: 300;
	margin-left: 1px;
	width: 60%;
}

	
.heading-box .title, .heading-box .subtitle {
	color: #ffff;
}

/*HEADING TITLES in the header------------end-------*/

.stripe:after {
    display: block;
    height: 2px;
    background-color: #1B1D1F;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.solar-gard-logo .image{
	width: 30%;
}

.vertisol-logo .image{
	width: 20%;
	max-height: auto;
}

#index-gallery{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	max-width: 960px
}


.anime {
	/*opacity: 0.7;*/
    /*box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);*/
    z-index: 2;
	width: 100%;
	height: auto;
	transform: scale(1);
	transition: transform .5s;
}

.anime:hover{
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
}






.composition__photo {
    /*width: 55%;*/
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    z-index: 10;
    transition: all 1.5s;
    outline-offset: .5rem; 
}

.composition__photo:hover {
      outline: .3rem solid #416ACA;
      transform: scale(2) translateY(-0.5rem);
    	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9);
}




.product-box{
    position:relative; /*this is the key*/
  }

.product-box h3{
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.9s;
	/*-webkit-backface-visibility: hidden;*/
	/*-webkit-transform: translateZ(0);*/
}

.product-box .single-product-text{  
	position: absolute;
	top:0;
	left: 0;
    opacity: 0; 
	width: 100%;
	height: 100%;
	transition: 0.8s;
}

.product-box:hover .single-product-text{
	background-color:#538BDE;
    display:block;
    position:absolute;
	opacity: 0.8;
  }

  .product-box:hover h3{
  	padding: 1rem;
	border: 0.5px solid #fff;
	opacity: 1;
}   

.product-gallery, .left-nav,.product-image{
	border: solid;
	height: 800px;

}

.product-gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr)
}

.gallery-grid{
	display: grid;
	
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 5px;
}

.gallery-grid > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-header-text{
	background-color: rgba(181,13,13,.7);
	color: #fff;
	/*border-radius: 10px;*/
	padding: 6%;
}

.item-image{
	width: 750;
	height: 400px;
	overflow: hidden;
}

.item-image img{
	width: 100%;
	height: 100%;
}

.list-items{
	cursor: pointer;
}

.modal-img{
	max-width: 1100px;
	max-height: 700px;
}

.buying-process{
	font-size: 1rem;
}
  
footer .font-mobile{
	font-size: 1rem;
}

@media only screen and (min-width: 600px) {



	header .heading-box{
		margin-top: 5rem;
	}

	header .title.is-1 {
		font-weight: 300;
	    font-size: 7rem;
	}
	header .subtitle.is-3 {
	    font-size: 4rem;
	}
	section header .heading-box-text-primary{
		font-size: 20rem;
	}

	 .heading-box-text-sub{
		font-size: 5rem;
		font-weight: 300;
		margin-top: 100px
		margin-left: 1px;
		width: 60%;
	}

}
