/*Drk color #1B1D1F*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body{

	padding: 0 ;
	background-color: #fff;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
}

.center{
        display: flex;
        justify-content: center;
        align-items: center;
      }
.centergrid{
		display: grid;
		justify-content: center;
		/*max-width: 960px;*/
}

header{
	/*background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.4), rgba(211, 215, 218,.2)), url(cssimg/6.jpg);*/
	height: 80vh;
	background-image: linear-gradient(to right, rgba(51, 58.8, 76.5,.8), rgba(0, 0, 0,.2)), url(cssimg/terrace-awning.jpg);
	background-size: cover;
	background-position: right top;
    background-attachment: fixed;
}



/*NAVIGATION Items in the header--------- start--------*/




nav{
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
}

.navbar-item img {
    max-height: 6rem;
}

nav .navbar-item .text-box{
	margin-top: 20px;
}

nav .navbar-item .text-box .text-primary,
nav .navbar-item .text-box .text-sub{
	font-family: "Times Romans";
	text-transform: capitalize;
	font-weight: 100;
	display: block;
}

nav .navbar-item .text-box .text-primary{
	font-size: 3rem;
}

nav .navbar-item .text-box .text-sub{
	font-size: 25px;
	margin-left: 100px;
}
/*NAVIGATION Items in the header--------- end--------*/

/*HEADING TITLES in the header------------start-------*/

.hero{
	padding: 0 5%;
}

header .title.is-1 {
	font-weight: 300;
    font-size: 3rem;
}
header .subtitle.is-3 {
    font-size: 2rem;
}
section header .heading-box-text-primary{
	font-size: 10rem;
}

 .heading-box-text-sub{
	font-size: 5rem;
	font-weight: 300;
	margin-left: 1px;
	width: 60%;
}

	
.heading-box .title, .heading-box .subtitle {
	color: #ffff;
}

/*HEADING TITLES in the header------------end-------*/

.stripe:after {
    display: block;
    height: 2px;
    background-color: #1B1D1F;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

footer .font-mobile{
	font-size: 1rem;
}


/*.container-form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: repeat(4, 1fr);
}

.form-text-box{
	grid-column: 1/2;
	grid-row: 2/3;
	border: solid;

}


.form-mapadress-box{
	grid-column: 2/3;
	grid-row: 1/4;
	border: solid;
		
}

.form-input-box{
	grid-column: 1/2;
	grid-row: 3/4;
	border: solid;
}*/






#index-gallery{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	max-width: 960px
}


.anime {
	/*opacity: 0.7;*/
    /*box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);*/
    z-index: 2;
	width: 100%;
	height: auto;
	transform: scale(1);
	transition: transform .5s;
}

.anime:hover{
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
}






.composition__photo {
    /*width: 55%;*/
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    z-index: 10;
    transition: all 1.5s;
    outline-offset: .5rem; 
}

.composition__photo:hover {
      outline: .3rem solid #55c57a;
      transform: scale(2) translateY(-0.5rem);
    	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9);
}




@media only screen and (min-width: 600px) {



	header .heading-box{
		margin-top: 5rem;
	}

	header .title.is-1 {
		font-weight: 300;
	    font-size: 7rem;
	}
	header .subtitle.is-3 {
	    font-size: 4rem;
	}
	section header .heading-box-text-primary{
		font-size: 20rem;
	}

	 .heading-box-text-sub{
		font-size: 5rem;
		font-weight: 300;
		margin-top: 100px
		margin-left: 1px;
		width: 60%;
	}

}
